$color-claro: #ffffff;
$color-fondo-soft: rgba(246, 242, 241, .9);
$color-fondo-sky: rgba(#59c5a5, .5);
$color-dark: #000000;
$color-dark-soft: rgba(0, 0, 0, .4);
$color-decoration: rgb(255, 195, 0);

$color-botones: rgb(4, 194, 255);
$color-shadow: #baba;
$color-text: #39AFEA;
$color-vivo: rgb(199, 0, 57);

// .sombra {
//     $background: rgb(2,0,36);
//     $background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
// }