$color-claro: #ffffff;
$color-fondo-soft: rgba(246, 242, 241, .9);
$color-fondo-sky: #59c5a5;
$color-dark: #000000;
$color-dark-soft: rgba(0, 0, 0, .4);
$color-decoration: rgb(255, 195, 0);
$color-sombra-blue: #0ABEE2;
$color-botones: rgb(4, 194, 255);
$color-shadow: #baba;
$color-text: #39AFEA;