@import "@styles/heredar";
@import "@styles/colors";
@import "@styles/mixins";

.container {
    display: flex;
    flex-direction: column;

    height: 300px;

    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding: 5px;

    border: 1px solid $color-dark;
    border-radius: 25px;
    overflow-x: scroll;
    
    & .stores {
        display: flex;
        width: max-content;
        height: 200px;
        border: 3px dotted #000;
        position: relative;
        
        & .tipos {
            @extend .flex-center;

            width: 300px;
            margin: 0 10px 0 0;
            height: calc(100% - 10px);
            border: 1px solid #000;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 320px;
        margin: 10px auto;
    }
}