@import "../styles/heredar";
@import "../styles/colors";
@import "../styles/mixins";

.container {
    position: relative;
    
    height: 300px;
    
    // @extend .flex-center;
    
    overflow-x: scroll;
    overflow-y: hidden;

    background-color: $color-shadow;

    @include barra;

    & .title {
        position: relative;
        display: flex;
        text-align: center;

        & h3 {
            position: absolute;
            text-align: center;
        }
    }

    & .stores {
        display: flex;
        align-items: center;
        height: 250px;
        position: relative;

        top: 60px;

        & .store-listado {
            display: flex;
            height: calc(100% - 10px);

            margin: 0;
            padding-left: 10px;

            
            & .tipos {
                border: 2px solid $color-dark;
                position: relative;
                background-color: $color-claro;
                @extend .flex-center;

                width: 300px;
                height: 200px;

                margin: 0 10px 0 0;

                border-radius: 10px;
                
                transition: all .2s ease-in;
                
                &:hover {                    
                    border: 2px solid $color-claro;
                }

                &:hover > p{
                    background-color: rgba(#3DB0CF, .8);
                    opacity: 1;
                }                
                
                & p {
                    width: 100%;
                    height: 100%;
                    transition: all .3s ease-in;
                    position: absolute;
                    top: 0;
                    opacity: 0;

                    margin: 0;

                    border-radius: 10px;

                    @extend .flex-center;

                    color: $color-claro;
                    font-size: 1.9rem;
                    font-weight: bolder;
                    text-align: center;
                }
                & img {
                    width: 100px;
                    height: 100px;
                }

                // enfocando el último elemento 
                &:last-child {
                    margin-right: 80px;
                }
                &:nth-child(1) {
                    margin-left: 80px;
                }
            }
        }

    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        // width: 300px;
        max-width: 479px;
        margin: 10px auto;

        & .stores {
            & .store-listado {
                & .tipos {
                    width: 300px;
                    min-width: 300px;
                    max-width: 479px;
                }
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        margin-left: 30px;
        margin-right: 30px;
    }
}