@import './colors';
@import './heredar';

.footer {
    position: relative;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    

    width: 100%;
    height: 300px;
    top: 0;
    bottom: 0;

    margin-top: 50px;

    & .footer-img {
        width: 100%;
        height: inherit;
        position: absolute;
        opacity: .85;
        z-index: 10;
    }

    & .info-dev {
        position: relative;
        @extend .flex-center;
        flex-direction: column;

        grid-column-start: 3;
        grid-column-end: 4;

        letter-spacing: 2px;
        font-size: 1.2rem;
        text-align: center;
        color: $color-claro;

        height: inherit;

        z-index: 60;

        & .info-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-top: 5px
        }
        & .education {
            @extend .flex-center;
            flex-direction: column;

            & h4 {
                margin-top: 5px;
                margin-bottom: 0;
            }

            & h5 {
                margin: 15px 0;
            }
        }
        & h5 {
            letter-spacing: .2px;
            line-height: 0;
            font-size: .85rem;
        }
    }

    & .social {
        & button {
            position: fixed;
            left: 10px;
            bottom: 10px;
            width: 50px;
            height: 50px;
            // border: none;
            border-radius: 50%;
            background: none;
            background-color: #fff;
            cursor: pointer;
            & img {
                width: 30px;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .footer {
        // @extend .flex-center;
        display: flex;
        justify-content: center;
    }
}