@import '../styles/colors';

@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?3ot2jt");
    src: url("../fonts/icomoon.eot?3ot2jt#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?3ot2jt") format("truetype"), url("../fonts/icomoon.woff?3ot2jt") format("woff"), url("../fonts/icomoon.svg?3ot2jt#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-menu {
    position: fixed;
}

html {
    box-sizing: border-box;
    //to transition soft
    scroll-behavior: smooth;
    width: 100vw;
    min-width: 320px;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    //property to hide todo lo que se desborde en horizontal y ocultar
    overflow-x: hidden;

    & .nav {
        position: fixed;
        width: 50%;
        padding: 0;
        bottom: 50px;
        right: 15px;

        height: 300px;
        width: 200px;

        border: 2px solid $color-botones;
        border-radius: 20px;

        z-index: 888;
        background-color: $color-claro;
        @extend .flex-center;
        flex-direction: column;

        // se aplicará una transición al efecto transform 
        transition: transform .5s ease-in;

        & li {
            list-style: none;
            & button {
                margin: 0;
                margin-bottom: 10px;
                padding: 0;
                font-size: 1.3rem;
                border: none;
                border-radius: 10px;
                color: $color-dark;
                cursor: pointer;

                width: 150px;
                height: 50px;

                transition: .2s ease-in;

                &:hover {
                    color: $color-claro;
                    background-color: $color-botones;
                    border: 3px solid $color-claro;
                    transform: scale(.95);
                }
            }
        }

        // para que el menú venga desde abajo
        // transform: translate(0, 150%);
        transform: translate(140%, 0);


        &.is-active {
            transform: translate(0, 0);
        }
    }
}

.burger-button {
    position: fixed;
    margin: 10px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    background-color: $color-botones;
    border: 3px solid $color-claro;
    color: #fff;
    text-align: center;
    right: 0;
    z-index: 999;
    cursor: pointer;
    bottom: 0;
}

@media screen and (min-width: 767px){
    .burger-button {
        display: none;
    }
}