@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?3ot2jt");
  src: url("../fonts/icomoon.eot?3ot2jt#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?3ot2jt") format("truetype"), url("../fonts/icomoon.woff?3ot2jt") format("woff"), url("../fonts/icomoon.svg?3ot2jt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-menu {
  position: fixed;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100vw;
  min-width: 320px;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
body .nav {
  position: fixed;
  width: 100%;
  padding: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  z-index: 888;
  background-color: rgba(187, 170, 187, 0.6666666667);
  flex-direction: column;
  transition: transform 0.5s ease-in;
  transform: translate(0, 150%);
}
body .nav li {
  list-style: none;
}
body .nav li button {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  width: 150px;
  height: 50px;
  transition: 0.2s ease-in;
}
body .nav li button:hover {
  color: #ffffff;
  background-color: rgb(4, 194, 255);
  border: 3px solid #ffffff;
  transform: scale(0.95);
}
body .nav.is-active {
  transform: translate(0, 0);
}

.burger-button {
  position: fixed;
  margin: 10px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  background-color: rgb(4, 194, 255);
  border: 3px solid #ffffff;
  color: #fff;
  text-align: center;
  right: 0;
  z-index: 999;
  cursor: pointer;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}
.borde-right {
  border: 1px double rgba(187, 170, 187, 0.6666666667);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(187, 170, 187, 0.6666666667);
}

.borde-left {
  border: 1px double rgba(187, 170, 187, 0.6666666667);
  border-radius: 10px;
  box-shadow: -10px 10px 10px rgba(187, 170, 187, 0.6666666667);
}

.flex-sbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center, body .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left, .header .logo {
  display: flex;
  justify-content: left;
  align-items: center;
}

.flex-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.header {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-content: center;
  top: 0;
  left: 0;
  width: 99%;
  height: 40px;
  padding: 10px;
  transition: 0.5s;
  border-bottom: 2px solid rgba(187, 170, 187, 0.6666666667);
  background-color: #ffffff;
  z-index: 10;
}
.header .logo img {
  width: 50px;
  height: 50px;
}
.header .header__contenedor {
  display: flex;
  justify-content: right;
  align-items: center;
}
.header .header__contenedor #menu {
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  transition: 8s ease-in;
}
.header .header__contenedor #menu ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header .header__contenedor #menu ul li button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.header.is-active {
  right: 0;
  transition: 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
}
@-webkit-keyframes rebote_lateral {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(100px);
  }
  /* 60% {
          transform: translateX(150px);
      } */
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rebote_lateral {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(100px);
  }
  /* 60% {
          transform: translateX(150px);
      } */
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .header {
    display: flex;
    justify-content: left;
    align-items: center;
    min-width: 320px;
    max-width: 767px;
  }
}/*# sourceMappingURL=Header.css.map */