@import "./heredar";

.main {
  display: grid;
  // grid-template-columns: 75% 20%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: space-between;
  
  min-width: 320px;
  // gap: 10px;
  margin: 90px 20px;
  
  & .accesorio {
    margin: 0;
    width: 100%;
    border: 2px solid #000;
    // max-width: 400px;
    // @extend .borde-left;
    // display: grid;      
    // grid-template-columns: repeat(auto-fit, min-max(320px, 1fr));
  }
  & .anuncios {
    width: 30%;
    border: 2px solid #000;
    
    & .container {
      @extend .flex-right;
      flex-direction: column;
      

      & .contenido {
        @extend .borde-right;
        @extend .flex-center;
        height: 350px;
        padding: 10px;
      }
    }
  }
}

// @media screen and (max-width: 420px) {
//   .main {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     //align-items: center;
//     min-width: 320px;
//     max-width: 600px;

//     & .accesorio {
//       border: none;
//       box-shadow: none;
//       padding: 0;
//     }
//   }
// }
