@import './heredar';

.main {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 10px;
    margin: 90px 50px;
    & .accesorio {
        padding: 0 30px;
        margin: 0;        
        @extend .borde-left;
    }
    & .anuncios {
        display: flex;
        & .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & .contenido {
                @extend .borde-right;
                @extend .flex-center;           
                height: 350px;
                padding: 10px;
            }
        }
    }
}