@import "@styles/colors";
@import "@styles/heredar";

.contenedor {
  position: relative;
  height: 350px;
  width: 90%;
  max-width: 900px;

  border: 1px solid #000;

  // margin-top: 10px;
  // margin-bottom: 50px;

  margin: auto;

  overflow-x: scroll;


  // nuevo diseño 
  & .botones {   

    & img {
      width: 40px;
    }
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .carrousel {
    height: 390px;
    overflow: hidden;
    & .grande {
      // width: 100%;
    }
  }
}