@import "@styles/colors";
@import "@styles/heredar";

.carrousel {
  position: relative;
  height: 350px;
  width: 100%;
  // max-width: 120em;

  margin-top: 10px;
  margin-bottom: 50px;

  // border: 1px solid #000;

  & .grande {
    width: 500%;
    

    display: flex;
    // flex-flow: row nowrap;
    // justify-content: flex-start;
    align-items: center;

    //animations
    transition: all .5s ease-in;
    transform: translateX(0%);

    animation: cambio 20s infinite alternate linear;


    & .img {
      width: calc(500% / 5);
      height: 320px;

      &:nth-child(1) {
        background-image: url('../assets/img/anuncios/frontend.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
      }
      &:nth-child(2) {
        background-image: url('../assets/img/anuncios/formateo.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
      }
    }

    @keyframes cambio {
      0% {margin-left: 0;}
      20% {margin-left: 0;}

      25% {margin-left: -100%;}
      45% {margin-left: -100%;}

      50% {margin-left: -200%;}
      70% {margin-left: -200%;}

      75% {margin-left: -300%;}
      100% {margin-left: -300%;}
    }
  }

  & .control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    & img {
      width: 40px;
      height: 40px;

      list-style: none;      
      
      & .left {
        left: 20px;
      }
      & .right {
        right: 20px;
      }
    }


  }
  
  & .puntos {
    width: auto;
    // background-color: $color-shadow;
    padding: .5em;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    list-style: none;
    border-radius: 10px;
  }
  
  & .punto {
    width: 2em;
    height: 2em;
    margin-right: 20px;
    
    border-radius: 10px;
    border: 2px solid $color-shadow;
    background-color: $color-claro;

    cursor: pointer;

    &.activo {
      background-color: $color-botones;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .carrousel {
    height: 390px;
    overflow: hidden;
    & .grande {
      // width: 100%;
    }
  }
}